<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact_us</title>
</head>
<!--still needs to make sure .css is conected properly, and routes.py and app.py , buttons not functioning properly properly -->
<header>
    <div class="top-bar">
        <h1>🛍️ Aimee's Amazon</h1>
        <a href="cart" class="cart-link">🛒</a>
    </div>

    

    <nav class="main-nav">
        <a href="/"                class="nav-link">🏠 Home</a>
        <a href="product-search"   class="nav-link">📦 Product Search</a>
        <a href="gift-cards"       class="nav-link">🎁 Gift Cards</a>
        <a href="best-sellers"     class="nav-link">🌟 Best Sellers</a>
        <a href="subscribe-&-save" class="nav-link">💌 Subscribe & Save</a>
        <a href="deals"            class="nav-link">💸 Deals</a>
        <a href="new-releases"     class="nav-link">🆕 New Releases</a>
        <a href="buy-it-again"     class="nav-link">🔁 Buy It Again</a>
        <a href="contact-us"       class="nav-link">📞 Contact Us</a>
    </nav>
</header>
<br>

<body>
    <h3>

    </h3>
    <form class="search-bar">
        <input type="text" placeholder="contact directory..." />
        <button type="submit">🔍</button>
    </form>
<br>
<br>

    <main>
        <table>
            <th>uk offices</th>
            <td>0 11 999-9999</td>
        </table>
        <table>
            <th>Australia Offices</th>
            <td>0 12 999-9999</td>
        </table>

        <table>
            <th>Canada and the Usa</th>
            <td>1 888 999-9999</td>
        </table>
    </main>
  <footer>
    <p>&copy; 2025 AMZ Royal. Terms and conditions apply.</p>
</footer>
</body>
</html>
